.barcode-scanner-wrap {
    margin: 0;
    padding: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: 0 0 black;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999999;
}

.barcode-scanner-wrap-inview {
    margin: 0;
    padding: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: 0 0 black;
    position: fixed;
    /* t,l,w,h dynamically appended */
    z-index: 9999999;

    overflow: hidden;
    /*animation:fade 3000ms;*/
}

@keyframes fade {
    from { opacity: 0.0; }
    /*50% { opacity: 0.5; }*/
    to { opacity: 1.0; }
}

.barcode-scanner-preview {
    width: 100%;
    height: 100%; /*calc(100% - 70px);*/
}

/*.barcode-scanner-preview-inview-portrait { /*perfect for portrait*//*
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;    
    width: 100%;
    height: auto; /*calc(100% - 70px);*//*
}

/*.proxy-wrap-of-preview-inview-landscape {
	width: 100%;
	height: 100%;
	transform: translate(50%, 50%);
}

.barcode-scanner-preview-inview-landscape {
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;    
    width: auto;
    height: 100%;
	transform: translate(-50%, -50%);
}*/

#flash-button {
    position: fixed;
    top: 2px;
    width: 48px;
    height: 48px;
	/*float: left;*/
    left: 2px;

    z-index: 999999999;
}
	
#zoom-button {
    position: fixed;
    top: 2px;
    width: 48px;
    height: 48px;
	/*float: right;*/
    right: 2px;

    z-index: 999999999;
}

 .blinking-line {
    position: fixed;
    background-color: red;
    z-index: 999999999;

    animation: fadeColor 500ms infinite;
}

#canvas-overlay {
    position: fixed;
    left: 0px;
    top: 0px;
    z-index: 99999999;
}

#remaining-canvas-overlay {
    position: fixed;
    margin-left: 0px;
    margin-top: 0px;
    border: 0px solid #0026ff;
    z-index: 99999999;
}

.shadow-overlay {
    background-color: transparent;
    /*box-shadow: 0 0 0 19px hsla(0, 0%, 0%, 0.5);*/
}


.barcode-scanner-app-bar {
    height: 70px;
    width: 100%;
    padding-top: 10px;
    z-index: 9999999;
    text-align: center;
    user-select: none;
}

.app-bar-action {
    width: 40px;
    height: 40px;
    margin: 0 auto;
    font-family: "Segoe UI Symbol";
    color: white;
    font-size: 12px;
    text-transform: lowercase;
    text-align: center;
    cursor: default;
}

@keyframes fadeColor {
    50% { background-color: rgba(0, 0, 0, 0.0); }
}

@media all and (orientation: landscape) {
    /*.app-bar-action {
        float: right;
        margin-right: 20px;
    }*/
    /*.proxy-wrap-of-preview-inview {
	width: 100%;
	height: 100%;
	transform: translate(50%, 50%);
    }
    .barcode-scanner-preview-inview {
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;    
    width: auto;
    height: 100%;
	transform: translate(-50%, -50%);
    }*/
}

@media all and (orientation: portrait) {
    /*.app-bar-action {
        float: right;
        margin-right: 20px;
    }*/
    /*.proxy-wrap-of-preview-inview {
	width: 100%;
	height: 100%;
	/*transform: translate(0, 0);*//*
    }
    .barcode-scanner-preview-inview {
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;    
    width: 100%;
    height: auto;
	/*transform: translate(0, 0);*//*
    }*/
}


/*.app-bar-action::before {
    font-size: 28px;
    display: block;
    height: 36px;
}

.action-close::before {
    content: "\E0C7";
    /* close icon is larger so we re-size it to fit other icons *//*
    font-size: 20px;
    line-height: 40px;
}

.action-close:hover::before {
    content: "\E0CA";
}*/
