<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
xmlns:android="http://schemas.android.com/apk/res/android"
id="manateeworks-barcodescanner-v3"
version="3.0.49">
<name>MWBarcodeScanner</name>
<description>Manatee Works Barcode Scanner Plugin</description>
<license>MIT</license>
<keywords>phonegap,barcode</keywords>


<js-module src="www/MWBScanner.js" name="Scanner">
    <clobbers target="mwbScanner" />
</js-module>
<asset src="js/MWBConfig.js" target="js/MWBConfig.js" />

<dependency id="cordova-plugin-dialogs" />
<dependency id="cordova-plugin-device" />
<!-- android -->
<platform name="android">
    
<config-file target="res/xml/config.xml" parent="/*">
<preference name="CrosswalkAnimatable" value="true" />
 <feature name="MWBarcodeScanner">
 <param name="android-package" value="com.manateeworks.BarcodeScannerPlugin"/>
 </feature>
 </config-file>


 <config-file target="AndroidManifest.xml" parent="/manifest/application">
 
 <activity android:name="com.manateeworks.ScannerActivity"
 android:configChanges="orientation|keyboardHidden"
 android:theme="@android:style/Theme.NoTitleBar.Fullscreen">
 </activity>
 </config-file>
 
 <config-file target="AndroidManifest.xml" parent="/manifest">
 <uses-permission android:name="android.permission.CAMERA" />
 <uses-permission android:name="android.permission.INTERNET" />

 </config-file>
 
 
<source-file src="src/android/libs/mwbscanner.jar" target-dir="libs" framework="true" />

 <source-file src="src/android/src/com/manateeworks/BarcodeScannerPlugin.java" target-dir="src/com/manateeworks" />
 <source-file src="src/android/src/com/manateeworks/ScannerActivity.java" target-dir="src/com/manateeworks" />
 
 <source-file src="src/android/res/layout/scanner.xml" target-dir="res/layout" />
 <source-file src="src/android/res/drawable/overlay_mw.png" target-dir="res/drawable" />
 <source-file src="src/android/res/drawable-hdpi/overlay_mw.png" target-dir="res/drawable-hdpi" />
 <source-file src="src/android/res/drawable/flashbuttonoff.png" target-dir="res/drawable" />
 <source-file src="src/android/res/drawable/flashbuttonon.png" target-dir="res/drawable" />
 <source-file src="src/android/res/drawable/zoom.png" target-dir="res/drawable" />
 
 <source-file src="src/android/libs/armeabi/libBarcodeScannerLib.so" target-dir="libs/armeabi" />
 <source-file src="src/android/libs/x86/libBarcodeScannerLib.so" target-dir="libs/x86" />
 <source-file src="src/android/libs/armeabi-v7a/libBarcodeScannerLib.so" target-dir="libs/armeabi-v7a" />
 <source-file src="src/android/libs/arm64-v8a/libBarcodeScannerLib.so" target-dir="libs/arm64-v8a" />
  <source-file src="src/android/libs/mips/libBarcodeScannerLib.so" target-dir="libs/mips" />





 </platform>

<!-- ios -->
<platform name="ios">
 
    <!-- Camera Usage Description for iOS 10+ -->
    <config-file target="*-Info.plist" parent="NSCameraUsageDescription">
        <string>Required for Scanning</string>
    </config-file>

     <config-file target="config.xml" parent="/*">
        <feature name="MWBarcodeScanner">
            <param name="ios-package" value="CDVMWBarcodeScanner" />
        </feature>
    </config-file>
    
    <framework src="CoreVideo.framework" weak="false" />
    <framework src="CoreGraphics.framework" weak="false" />
    <framework src="QuartzCore.framework" weak="false" />
    <framework src="CoreLocation.framework" weak="false" />
                   
   <source-file src="src/ios/MWBarcodeScanner/libBarcodeScanner.a" target-dir="MWBarcodeScanner" framework="true"/>
    <header-file src="src/ios/CDVMWBarcodeScanner.h" target-dir="MWBarcodeScanner"/>
    <source-file src="src/ios/CDVMWBarcodeScanner.m" target-dir="MWBarcodeScanner"/>
    <header-file src="src/ios/MWBarcodeScanner/BarcodeScanner.h" target-dir="MWBarcodeScanner"/>
    <header-file src="src/ios/MWBarcodeScanner/MWScannerViewController.h" target-dir="MWBarcodeScanner"/>
    <source-file src="src/ios/MWBarcodeScanner/MWScannerViewController.m" target-dir="MWBarcodeScanner"/>
    <header-file src="src/ios/MWBarcodeScanner/MWOverlay.h" target-dir="MWBarcodeScanner"/>
    <source-file src="src/ios/MWBarcodeScanner/MWOverlay.m" target-dir="MWBarcodeScanner"/>
    <header-file src="src/ios/MWBarcodeScanner/MWResult.h" target-dir="MWBarcodeScanner"/>
    <source-file src="src/ios/MWBarcodeScanner/MWParser.h" target-dir="MWBarcodeScanner"/>
    <source-file src="src/ios/MWBarcodeScanner/MWScannerViewController.xib" target-dir="MWBarcodeScanner"/>
    <resource-file src="src/ios/MWBarcodeScanner/close_button.png" target-dir="MWBarcodeScanner"/>
    <resource-file src="src/ios/MWBarcodeScanner/flashbuttonon.png" target-dir="MWBarcodeScanner"/>
    <resource-file src="src/ios/MWBarcodeScanner/flashbuttonoff.png" target-dir="MWBarcodeScanner"/>
    <resource-file src="src/ios/MWBarcodeScanner/overlay_mw.png" target-dir="MWBarcodeScanner"/>
    <resource-file src="src/ios/MWBarcodeScanner/overlay_mw@2x.png" target-dir="MWBarcodeScanner"/>
    <resource-file src="src/ios/MWBarcodeScanner/zoom.png" target-dir="MWBarcodeScanner"/>
    
</platform>

<!-- windows uwp -->
<platform name="windows">
    
    <js-module src="src/windows/MWBarcodeScannerProxy.js" name="MWBarcodeScannerProxy">
        <merges target="" />
    </js-module>

    <config-file target="package.appxmanifest" parent="/Package/Capabilities" versions=">=8.1.0">
        <DeviceCapability Name="webcam" />
    </config-file>
    
    <framework src="src/windows/WinRTCproj/WindowsComponnent/WindowsComponnent/WindowsComponnent.csproj" custom="true" type="projectReference"/>
 
    <asset src="src/windows/assets/plugin-barcodeScanner.css" target="css/plugin-barcodeScanner.css" />
    <asset src="src/windows/assets/flashbuttonoff.png" target="assets/flashbuttonoff.png" />
    <asset src="src/windows/assets/flashbuttonon.png" target="assets/flashbuttonon.png" />
    <asset src="src/windows/assets/flashbuttonnotsupported.png" target="assets/flashbuttonnotsupported.png" />
    <asset src="src/windows/assets/zoom.png" target="assets/zoom.png" />
    <asset src="src/windows/assets/zoomnotsupported.png" target="assets/zoomnotsupported.png" />
    <asset src="src/windows/assets/overlay_mw.png" target="assets/overlay_mw.png" />
    
</platform>


</plugin>
